@import 'src/mixins';

#pokemon-team-chart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
    max-width: 100%;

    h2 {
        margin-bottom: 10px;
    }

    .team-card {
        max-width: 100%;
        padding: 20px;
        background: #b8ccee;
        border: 1px solid #7287cc;
        border-radius: 5px;
    }

    .team-chart {
        display: grid;
        grid-template-columns: repeat(19, min-content);
        max-width: 100%;
        position: relative;
        overflow-x: auto;

        .bubble-font {
            color: inherit;
        }
    }

    .row {
        display: contents;
    }

    .header-cell {
        text-transform: uppercase;
        font-family: monospace;
        font-weight: bold;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        white-space: nowrap;
        min-width: 100px;
        background: #e6eeff;
        padding: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
    }

    .cell {
        padding: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        font-size: 18px;

        .fraction {
            font-size: 14px;
        }
    }

    .type-row {
        display: contents;

        >*:first-child {
            width: 101px;
            background: #b8ccee;
        }

        .cell {
            // border-top: 1px solid black;
            font-size: 13px;

            // &:nth-child(2) {
            // border-top-left-radius: 5px;
            // border-left: 1px solid black;
            // }

            // &:last-child {
            // border-right: 1px solid black;
            // border-top-right-radius: 5px;
            // width: 36px;
            // }
        }
    }

    .rating-row {
        display: contents;
        // border-top: 1px solid black;
        // border-left: 1px solid black;
        // border-right: 1px solid black;

        .header-cell {
            background: #9db4d9;

            &.weak {
                background: #f9d3d8;
            }
        }

        // &:nth-child(2) {
        // border-top-left-radius: 5px;
        // overflow: hidden;
        // }
    }

    .pokemon-row {
        display: contents;
        // border-top: 1px solid black;
        // border-left: 1px solid black;
        // border-right: 1px solid black;

        .header-cell {
            display: flex;
            justify-content: center;
            align-items: center;


            .sprite {
                position: relative;
                align-self: center;

                img {
                    height: 30px;
                    display: block;
                }

                .expand-caret {
                    display: none;
                }
            }

        }

        // &:last-child {
        // border-bottom-left-radius: 5px;
        // border-bottom-right-radius: 5px;
        // border-left: 1px solid black;
        // border-bottom: 1px solid black;
        // overflow: hidden;
        // }

        .details {
            display: none;
        }
    }
}

.rating {
    font-weight: bold;
    font-family: sans-serif;
    background: #ececec;

    &.best {
        background: #1e771e;
        color: #fcff66;
    }

    &.great {
        background: #1e771e;
        color: #feffd0;
    }

    &.good {
        background: #64a158;
        color: #feffd0;
    }

    &.decent {
        background: #9fc893;
        color: #feffc2;
    }

    &.unimportant {
        background: white;
        color: white;
    }

    &.poor {
        background: #f9d3d8;
        color: white;
    }

    &.bad {
        background: #ff7878;
        color: white;
    }

    &.na {
        background: #555555;
        color: white;
    }
}

@include larger-than(mobile-screen) {
    #pokemon-team-chart {
        .team-chart {

            >.pokemon-row,
            >.rating-row,
            >.type-row {
                >*:first-child {
                    position: sticky;
                    left: 0;
                    z-index: 1;
                }
            }

            >.pokemon-row>.details>.row>*:first-child {
                position: sticky;
                left: 0;
                z-index: 1;
            }
        }

        .pokemon-row {
            .header-cell {
                &.expandable {
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.95);
                    }
                }

                .sprite .expand-caret {
                    display: block;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    width: 12px;

                    &.expanded {
                        transform: rotate(180deg);
                    }
                }
            }

            .details {
                display: contents;
                cursor: pointer;

                .cell {
                    font-size: 14px;
                }

                &:hover {
                    .header-cell {
                        filter: brightness(0.95);
                    }

                    .cell {
                        filter: contrast(0.8) saturate(0.8) brightness(0.95);
                    }
                }

                .cell {
                    filter: contrast(0.8) saturate(0.8);
                }
            }
        }
    }
}

@include smaller-than(mobile-screen) {
    #pokemon-team-chart {
        .team-chart {
            grid-template-columns: unset;
            grid-template-rows: repeat(19, min-content);
            grid-auto-flow: column;
        }

        .cell {
            width: 100%;
        }

        .header-cell {
            min-width: unset;
            height: 100%;
        }

        .type-row {
            display: contents;

            >*:first-child {
                width: unset;
                background: #b8ccee;
            }

            >* {
                position: sticky;
                left: 0;
                z-index: 1;
            }

            .cell {
                width: unset;
                padding: 0 5px;
                border-radius: 0;
            }

            .cell:nth-child(2) {
                border-radius: 0;
            }

            .cell:last-child {
                width: unset;
                border-radius: 0;
            }
        }

        .rating-row {
            display: contents;

            .header-cell {
                height: 100%;
                min-width: unset;
                width: 100%;
                padding: 5px;
            }
        }

        .pokemon-row {
            display: contents;

            .header-cell {
                height: 100%;
                padding: 5px 5px 5px 0px;
                min-width: unset;
            }
        }
    }
}