name: CI

on:
  push:
    branches:
      - main

env:
  AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache NPM
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install
        run: npm ci

  test: 
    needs: [install]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache NPM
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install
        run: npm ci
      - name: Install Playwright
        run: npm run e2e:install
      - name: Test App
        run: |
          npm start &
          npm run e2e:ci
        timeout-minutes: 5

  deploy:   
    needs: [test] 
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache NPM
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
        timeout-minutes: 5
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Deploy Build
        run: |
          cd public/
          zip -r build.zip .
          aws s3 cp build.zip s3://${{ secrets.AWS_S3_BUCKET }}/${{ github.sha }}.zip --content-type "application/zip; charset=utf-8"
          URL=$(aws s3 presign s3://${{ secrets.AWS_S3_BUCKET }}/${{ github.sha }}.zip)
          aws amplify start-deployment --app-id ${{ secrets.AWS_AMPLIFY_APP_ID }} --branch-name prod --source-url $URL
